/*
 * pwix:validity/src/client/stylesheets/validity.less
 */

// color used both for used band and for closest nav
@validity_color: teal;

.validity-band {
    width: 100%;
    margin-top: 0.5em;
    .band {
        height: 1em;
        border: 1px solid lightgray;
        display: flex;
    }
    .band .free {
        background-color: rgb(255, 249, 178);
        height: inherit;
    }
    .band .used {
        background-color: @validity_color; //@darkteal;
        height: inherit;
    }
    .band .last {
        flex-grow: 1;
    }
}

.ValidityFieldset {
    .spacing {
        min-width: 0.5em;
    }
    margin: 0.5em 0;
    fieldset {
        border: 1px solid lightgray;
        border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        padding: 0.5em;
    }
    fieldset legend {
        font-size: 1em;
        float: inherit;
        width: auto;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

.validities-panel {
    padding: 0 5em;
    height: 100%;

    div.with {
        padding-top: 2em;
        padding-bottom: 2em;
        height: 100%;
        p.text {
            margin-bottom: 1em;
        }
        table {
            width: 100%;
            tr:nth-child( 2n+1 ){
                background-color: lightgray; //lighten( black, 85% );;;
            }
            tr:hover {
                background-color: darken( lightgray, 10% ); //lighten( black, 80% );
            }
            td {
                padding-top: 0.25em;
                padding-bottom: 0.25em;
            }
            td:first-child {
                padding-left: 0.25em;
            }
            td:last-child {
                padding-right: 0.25em;
            }
        }
    }

    .without {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.validity-plus,
.ValiditiesTabbed {
    a.dropdown-item {
        text-decoration: none;
    }
    a.dropdown-item:hover {
        background-color: lightgray;
    }
}

.ValiditiesTabbed {
    .tab-pane {
        // have a special display for fields which are not equals between different validity records
        .val-differents {
            color: gray;
            font-style: italic;
        }
    }
    .nav-tabs {
        li.validity-atdate {
            //font-weight: bold;
        }
        li.validity-closest {
            button {
                color: @validity_color;
            }
        }
        .validity-item-label {
            .dropdown {
                padding-left: 0.25em;
            }
            a.dropdown-toggle {
                padding: 0 0.25em;
            }
            a.dropdown-toggle:hover {
                background-color: lighten( lightgray, 10% );
                border-radius: 0.25em;
            }
        }
    }
}
